<app-main-layout [loading]="loading">
  <h1>Currency converter chart</h1>
  <div class="mat-subheading-1">
    {{selectedDateFrom | date:'dd MMM yyyy'}} - {{selectedDateTo | date:'dd MMM yyyy'}}
  </div>
  <div class="mat-subheading-1">
    <span class="mat-body-strong">{{currencyCodeFrom}}/{{currencyCodeTo}}</span>
    low: <span class="mat-body-strong">{{minValue('close')}}</span>
    high: <span class="mat-body-strong">{{maxValue('close')}}</span>
  </div>
  <div class="container">
    <app-chart-zoomable [data]="selectedDataRange" [fullData]="data"></app-chart-zoomable>
    <app-chart-select-date [data]="data" (onSelectData)="selectedDataHandler($event)"></app-chart-select-date>
  </div>
</app-main-layout>
