.chart {
  display: flex;

  &--main {
    overflow: auto;
  }

  &--scale {
    flex: 0 0 50px;
  }

}

.axis {
  font: 10px sans-serif;

  path,
  line {

    stroke: #000;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
  }

  &--x {
    path {
      stroke: none;
    }
  }

  &--y {
    path {
      stroke: none;
    }
  }
}

.line {
  fill: none;
  stroke: slategrey;
  stroke-width: 2px;

  &--x {
    transform: rotate(180deg);
  }

  &--y {
    transform: rotate(180deg) translateX(-10px);
  }
}
